/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";

.markdown-body p {
    margin-bottom: 0.5rem;
}

.markdown-body p:last-child {
    margin-bottom: 0;
}

.markdown-body ul {
    list-style-type: disc;
    padding-left: 1.5rem;
    margin-top: 0.25rem;
}

.markdown-body ol {
    list-style-type: decimal;
    padding-left: 1.5rem;
    margin-top: 0.25rem;
}

.markdown-body strong {
    font-weight: 700;
}
